$color-border: rgba(0, 0, 0, 0.2);
$color-white: #FFFFFF;
$color-red: #f28b82;
$color-orange: #fbbc04;
$color-yellow: #fff475;
$color-green: #ccff90;
$color-teal: #a7ffeb;
$color-blue: #ebebeb;
$color-dark-blue: #aecbfa;
$color-purple: #d7aefb;
$color-pink: #fdcfe8;
$color-brown: #e6c9a8;
$color-gray: #F1F3F4;
$color-black: #000000;
$color-selection: #FEEFC3;

