@import "./breakPoints";
@import "./colors";

.dashBoardNotes-container {
  display: flex;
  justify-content: center;
}

.add-note-from {
  box-shadow: 0px 0px 5px 2px $color-border;
  border-radius: 5px;
  width: 55%;
  @media screen and (max-width: $break-medium) {
    width: 70%;
  }
  @media screen and (max-width: $break-small) {
    width: 245px;
  }
}

.add-note-input{
  padding: 5px 16px;
}

.add-note-title {
  font-size: 20;
}

.add-note-description {
  margin-bottom: 20px !important;
}

.add-note-footer {
  position: relative;
}

.close-button {
  margin-left: auto !important;
  font-size: 1rem !important;
  text-transform: none !important;
}

.add-note-title textarea {
  font-weight: bold;
  text-align: justify;
}

.add-note-description textarea {
  text-align: justify;
}

.MuiCardContent-root:last-child {
  padding-bottom: 16px !important;
}


