@import "./master";

.appBar-container {
  width: 97%;
  height: 50px;
  
  padding: 0 14px;
  display: flex;
  flex-direction: row;
  
}

.note-logo-image {
  padding: 12px 5px 12px 0 !important;
}

.note-logo {
  height: 35px;
  width: 30px;
  padding: 5px;
}

.app-name {
  align-self: center;
}

.search-bar {
  align-self: center;
  margin-top: 4px !important;
  width: 38%;
  background: rgba(253, 253, 253, 0.11);
  
  // @media screen and (max-width: $break-medium) {
  //   margin: 0 10% !important;
  // }
  // @media screen and (max-width: $break-small) {
  //   margin: 0 5% !important;
  // }
  @media screen and (max-width: $break-xsmall) {
    display: none !important;
  }
}

.search-icon {
  @media screen and (max-width: $break-small) {
    display: none !important;
  }
}

.spacing {
    width: 23%;
    @media screen and (max-width: $break-medium) {
      width: 5% !important;
    }
    @media screen and (max-width: $break-small) {
      width: 2% !important;
    }
    @media screen and (max-width: $break-xsmall) {
      width: 3% !important;
    }
  }
  
.profile {
  position: absolute;
  z-index: 1100;
  left: 80%;
  right: 1%;
  top: 65px;
  // background-color: rgba(196, 195, 195, 0.18) !important;
}

.logout-button {
  text-transform: none !important;
}
