@import "./master";

.appBar-container {
  width: 97%;
  height: 50px;
  
  padding: 0 14px;
  display: flex;
  flex-direction: row;
  
}

.note-logo-image {
  padding: 12px 10px 12px 0 !important;
}

.note-logo {
  height: 35px;
  width: 30px;
  padding: 5px;
}

.app-name {
  align-self: center;
}

.search-bar {
  align-self: center;
  margin-top: 4px !important;
  width: 38%;
  background: rgba(253, 253, 253, 0.11);
  @media screen and (max-width: $break-xsmall) {
    display: none !important;
  }
}

.search-icon {
  @media screen and (max-width: $break-small) {
    display: none !important;
  }
}

.spacing-left {
    width: 8%;
    @media screen and (max-width: $break-medium) {
      width: 6% !important;
    }
    @media screen and (max-width: $break-small) {
      width: 3% !important;
    }
    @media screen and (max-width: $break-xsmall) {
      width: 9% !important;
    }
  }
.spacing-right {
    width: 32%;
    @media screen and (max-width: $break-medium) {
      width: 17% !important;
    }
    @media screen and (max-width: $break-small) {
      width: 7% !important;
    }
    @media screen and (max-width: $break-xsmall) {
      width: 9% !important;
    }
  }
  
.profile {
  position: absolute;
  z-index: 1100;
  left: 80%;
  right: 1%;
  top: 65px;
  // background-color: rgba(196, 195, 195, 0.18) !important;
}

.logout-button {
  text-transform: none !important;
}
