@import "./breakPoints";
@import "./colors";

.note-actions-item-addnote {
  @media screen and (max-width: $break-large) {
    padding: 9px !important;
  }
  @media screen and (max-width: $break-medium) {
    padding: 5px !important;
  }
  @media screen and (max-width: $break-small) {
    padding: 5px !important;
  }
  @media screen and (max-width: $break-xsmall) {
    padding: 2px !important;
  }
}
.note-actions-item-shownote {
  padding: 5px 10px !important;
}

.note-actions-item-editnote {
  @media screen and (max-width: $break-small) {
    padding: 5px !important;
  }
  @media screen and (max-width: $break-xsmall) {
    padding: 3px !important;
  }
}

.note-actions-item-deletenote {
  visibility: hidden;
}

.action-icon {
  font-size: 1.1rem !important;
  color: rgba(0, 0, 0, 0.85) !important;
}

.color-palette {
  background: $color-white;
  border: 1px solid $color-gray;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  // visibility: hidden;
  display: none;
  position: absolute;
  height: 90px;
  width: 120px;
  z-index: 1;
  bottom: 25px;
}

.color-palette-active {
  display: block;
}
// .color-set-tooltip:hover ~ .color-palette {
//   // visibility: visible;
//   display: block;
// }

// .color-set-tooltip:focus ~ .color-palette {
//   // visibility: visible;
//   display: block;
// }

.color {
  border-radius: 50% !important;
  margin: 5px !important;
  padding: 5px !important;
  width: 20px;
  height: 20px;
}
.color-white {
  background-color: $color-white !important;
  border: 1px solid $color-gray !important;
}

.color-orange {
  background-color: $color-orange !important;
  
}

.color-yellow {
  background-color: $color-yellow !important;
}

.color-red {
  background-color: $color-red !important;
}
.color-green {
  background-color: $color-green !important;
}

.color-teal {
  background-color: $color-teal !important;
}
.color-blue {
  background-color: $color-blue !important;
}
.color-dark-blue {
  background-color: $color-dark-blue !important;
}
.color-purple {
  background-color: $color-purple !important;
}
.color-pink {
  background-color: $color-pink !important;
}
.color-brown {
  background-color: $color-brown !important;
}
.color-gray {
  background-color: $color-gray !important;
}

// .more-options-dropdown{
//   padding: 5px 0;
//   position: absolute;
//   display: flex;
//   flex-direction: column;
//   display: none;
//   // visibility: hidden;
//   background: $color-white;
//   border: 1px solid $color-gray;
//   border-radius: 5px;
  
//   z-index: 1;
// }

// .more-options-tooltip:focus ~ .more-options-dropdown {
//   // visibility: visible;
//   display: flex;
//   // flex-direction: column;
// }

// .more-options-dropdown.more-options-dropdown-addnote{
//   top: 49px;
//   left: 35%;
// }
// .more-options-dropdown.more-options-dropdown-shownote{
//   top: 30px;
//   right: 0;
// }