.search-bar{
    width: 35%;
    background: rgba(253, 253, 253, 0.11);
}

.spacing {
    width: 13%;
}

.second-spacing {
    width: 2%;
}

.MuiDrawer-paperAnchorDockedLeft {
    margin-top: 52px;
}

.MuiListItemIcon-root {
    min-width: 30px !important;
}

.listItemText{
    margin-left: 10px;
}

.list-item{
    height: 50px !important;
}

.list-min {
    display: none;
}