@import "./breakPoints";
@import "./colors";

.dashboard-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dashboard-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $color-white;
  border-bottom: 1px solid  $color-border;
  z-index: 1;
}

.dashboard-body {
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: row;

}

.dashboard-body.sidenav-open {
  @media screen and (max-width: $break-xsmall) {
    flex-direction: column;
  }
}

.dashboard-notes {
  width: 100%;
  margin-left: 80px;
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: $break-xsmall) {
    margin-left: 0;
    padding: 10px 0;
  }
}

.dashboard-notes.drawer-open {
  margin-left: 240px;
  @media screen and (max-width: $break-xsmall) {
    margin-left: 0;
  }
}

.showNotes {
  margin-top: 20px;
}
