.MuiDrawer-paperAnchorDockedLeft {
  margin-top: 64px;
}

.MuiListItemIcon-root {
  min-width: 30px !important;
}

.list-item {
  height: 50px !important;
  border-radius: 0 50px 50px 0 !important;
  &:hover {
    background-color: rgb(234, 188, 127) !important;
  }
}

.listItemText {
  margin-left: 10px;
  margin-right: 10px;
}

.list-min {
  display: none;
}
