@import "./breakPoints";
@import "./colors";

.modal {
  border: none !important;
}
.edit-note-from {
  margin: 0 auto;
  width: 37rem;
  @media screen and (max-width: $break-medium) {
    width: 32rem;
  }
  @media screen and (max-width: $break-small) {
    width: 24rem;
  }
  @media screen and (max-width: $break-xsmall) {
    width: 17rem;
  }

}
.edit-note-input{
  padding: 5px 16px 15px;
}

.edit-note-title {
  font-size: 20;
}

.edit-note-description {
  // margin-bottom: 10px !important;
  min-height: 70px;
  display: block;
}

.edit-note-footer {
  position: relative;
}

.close-button {
  margin-left: auto !important;
  font-size: 1rem !important;
  text-transform: none !important;
}

.edit-note-title textarea {
  font-weight: bold;
  text-align: justify;
}

.edit-note-description textarea {
  text-align: justify;
}