@import "./breakPoints";

.main-container.forget-password {
  display: flex;
  margin: 0 auto !important;
  margin-top: 100px !important;
  width: 24% !important;
  padding: 40px 40px !important;
  height: 100%;
  padding: 15px;
  @media screen and (max-width: $break-large) {
    margin-top: 100px !important;
  }
  @media screen and (max-width: $break-medium) {
    width: 40% !important;
  }
  @media screen and (max-width: $break-small) {
    width: 60% !important;
  }
}

.send-reset-link-button {
  float: right;
  text-transform: none !important;
}

.remember-password-button {
  float: left;
  text-transform: none !important;
}
