$break-small: 600px;
$break-medium: 800px;
$break-large: 960px;

.main-container.log-in {
    display: flex;
    margin: 0  auto !important;
    margin-top: 140px !important;
    width: 45% !important;
    height: 100%;
    padding: 15px;
    @media screen and (max-width: $break-small) {
        width: 80% !important;
      }
    @media screen and (max-width: $break-large) {
        margin-top: 100px !important;
    }
}

.sub-heading {
    text-align: center;
}

.button-text {
    text-transform: none !important;
}

.crate-account-button {
    float: left;
    text-transform: none !important;
}

.login-button {
    text-transform: none !important;
    float: right;
}
