.display-notes {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
}

.each-note {
  margin: 5px;
  padding: 5px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 5px;
  width: 202px;
  min-height: 100px;
}

.note-body {
  padding: 8px;
}

.note-titel {
  height: 20px;
  font-weight: bolder;
  font-size: 1.2rem;
}

.note-description{
  min-height: 32px;
  padding: 5px 0;
}