.all-notes {
    margin-top: 5%;
    margin-left: 14%;
    margin-right: 10%;
    // flex-direction: row;
  }
  
  .note {
    width: 250px;
    margin: 15px;
  }
  .note-actions-item {
    padding: 2px !important;
  }