.all-notes {
  padding-top: 3%;
  padding-left: 10%;
  padding-right: 5%;
  justify-content: center;
}

.note {
  margin: 10px !important;
}

.each-note {
  width: inherit;
  margin: 0 auto;
}
.note-actions-item {
  padding: 5px !important;
}
