$break-small: 600px;
$break-medium: 800px;
$break-lerge: 960px;

.main-container {
    margin: 0  auto !important;
    margin-top: 90px !important;
    width: 52% !important;
    border-radius: 5px;
    border: 1px groove grey;
    justify-content: center;
    @media screen and (max-width: $break-small) {
        width: 80% !important;
      }
    @media screen and (max-width: $break-lerge) {
        margin-top: 0px !important;
    }
}

.account-image {
    height: 100%;
    width: 100%;
}