$break-small: 600px;
$break-medium: 800px;
$break-large: 960px;


.main-container.sing-up {
    margin: 0  auto !important;
    margin-top: 90px !important;
    width: 52% !important;
    border-radius: 5px;
    padding: 15px;
    justify-content: center;
    @media screen and (max-width: $break-small) {
        width: 80% !important;
      }
    @media screen and (max-width: $break-large) {
        margin-top: 0px !important;
    }
}

.input-field {
    padding-bottom: 0 !important;
    padding-left: 12px !important;
}

.log-in-button {
    padding-left: 0 !important;
    float: left;
    text-transform: none !important;
}

.button-group {
    margin-top: 1rem !important;
    @media screen and (max-width: $break-large) {
        margin-top: 0px !important;
    }
}

.sing-up-button {
    text-transform: none !important;
    float: right;
}

.secondery-module {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
    @media screen and (max-width: $break-medium) {
        display: none !important;
    }
}

.account-image {
    height: 100%;
    width: 100%;
}

.MuiOutlinedInput-adornedEnd {
    padding-right: 0 !important;
}
